@{
    GroupDocs.Annotation.MVC.Products.Common.Config.GlobalConfiguration config = new GroupDocs.Annotation.MVC.Products.Common.Config.GlobalConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <title>Annotation for .NET MVC</title>
    <link rel="icon" type="image/x-icon" href="resources/annotation/favicon.ico" />
</head>
<body>
    <client-root></client-root>
    <script src="resources/annotation/runtime-es2015.js" type="module"></script>
    <script src="resources/annotation/runtime-es5.js" nomodule></script>
    <script src="resources/annotation/polyfills-es2015.js" type="module"></script>
    <script src="resources/annotation/polyfills-es5.js" nomodule></script>
    <script src="resources/annotation/styles-es2015.js" type="module"></script>
    <script src="resources/annotation/styles-es5.js" nomodule></script>
    <script src="resources/annotation/vendor-es2015.js" type="module"></script>
    <script src="resources/annotation/vendor-es5.js" nomodule></script>
    <script src="resources/annotation/main-es2015.js" type="module"></script>
    <script src="resources/annotation/main-es5.js" nomodule></script>
</body>
</html>
