#gd-header-logo {
	background-image: url('../images/logo.png') !important;
}

.gd-save-disabled {
	cursor: not-allowed !important;
}

.ui-resizable-se {   
    right: -4px !important;
    bottom: -3px !important;
}

.gd-page {
	position: relative;
}

.gd-disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

/*
******************************************
ANNOTATIONS TOOL BAR
******************************************
*/
.gd-annotations-bar-wrapper {
	width: 136px;    
    position: absolute;
    top: 28%;
	left: 0px;
    z-index: 99999;
}

.gd-annotations-toggle {
	display: none;
	position: fixed;
	top: 52%;
	left: 120px;
	height: 53px;
	font-size: 25px;
	z-index: 9999;
}

.gd-lbl-toggle {   
    color: #959da5;
    top: 42%;
    left: 3px;
    cursor: pointer;
    position: absolute;  
}
.gd-lbl-toggle::before {
    content: ' ';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 5px solid currentColor;
}
.gd-embed-annotation-tools{
  width: 0px;
  overflow: hidden;
  transition: width .25s ease-in-out;
}
.gd-annotations-toggle:checked + .gd-lbl-toggle + .gd-embed-annotation-tools{
  width: 64px;
}

.gd-annotations-toggle:checked + .gd-lbl-toggle {
  left: 50px;
  transition: left .25s ease-in-out;
}

.gd-annotations-toggle:checked + .gd-lbl-toggle {
  transform: rotate(180deg) translateX(-3px);
}

.gd-tool-field .gd-popupdiv-hover {
	display: none;
}

.gd-tools-container {		
	background: #3e4e5a;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;	
	padding: 0px 0px 0px 12px;	
}

.gd-tool-field {
	width: 45px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height: 45px;
	border: 1px solid #8a8a8a;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	display: inline-block;
	margin: 3px 0px 0px 1px;
	cursor: move;	
}

.gd-tool-field:hover {
	border: 1px solid #d45119;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.35);
}

.gd-tool-field:hover .gd-popupdiv-hover {
	display: block;
}

.gd-tool-field-tooltip {	
    width: 134px;
    background-color: #08090a;
    color: #fff !important;
    text-align: center;
    border-radius: 0px;   
    position: fixed;
    z-index: 20; 
    font-size: 14px;
}

.gd-tool-field-tooltip::after {
    content: " ";
    position: absolute;
	bottom: 40%;
    left: -1%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

button.gd-tool-field {
	width: 47px;
	height: 47px;
	cursor: pointer;
}

.gd-embed-annotation-tools {
	float: left;        
    z-index: 1;
}

.gd-embed-annotation-tools .gd-tool-field {
	width: 32px;
	height: 32px;
	background-size: contain !important;
}

.gd-embed-annotation-tools .gd-tool-field.active{
	background-size: contain !important;
}

.gd-embed-annotation-tools .gd-tool-field-tooltip {
	left: 53px !important;    
}

.gd-embed-annotation-tools .gd-text-box {
	background: url(../images/text.png) no-repeat;	
}

.gd-embed-annotation-tools .gd-text-box.active {
	background: url(../images/text_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-point-box {
	background: url(../images/point.png) no-repeat;
}

.gd-embed-annotation-tools .gd-point-box.active {
	background: url(../images/point_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-area-box {
	background: url(../images/area.png) no-repeat;
}

.gd-embed-annotation-tools .gd-area-box.active {
	background: url(../images/area_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-strike-box {
	background: url(../images/strike_out_text.png) no-repeat;	
}

.gd-embed-annotation-tools .gd-strike-box.active {
	background: url(../images/strike_out_text_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-highlight-box {
	background: url(../images/type_writer.png) no-repeat;
}

.gd-embed-annotation-tools .gd-highlight-box.active {
	background: url(../images/type_writer_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-polyline-box {
	background: url(../images/polyline.png) no-repeat;
}

.gd-embed-annotation-tools .gd-polyline-box.active {
	background: url(../images/polyline_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-watermark-box {
	background: url(../images/watermark.png) no-repeat;
}

.gd-embed-annotation-tools .gd-watermark-box.active {
	background: url(../images/watermark_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-replace-box {
	background: url(../images/text_replace.png) no-repeat;
}

.gd-embed-annotation-tools .gd-replace-box.active {
	background: url(../images/text_replace_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-redtext-box {
	background: url(../images/text_redaction.png) no-repeat;
}

.gd-embed-annotation-tools .gd-redtext-box.active {
	background: url(../images/text_redaction_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-redarea-box {
	background: url(../images/resource_redaction.png) no-repeat;
}

.gd-embed-annotation-tools .gd-redarea-box.active {
	background: url(../images/resource_redaction_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-arrow-tool {
	background: url(../images/arrow.png) no-repeat;
}

.gd-embed-annotation-tools .gd-arrow-tool.active {
	background: url(../images/arrow_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-underline-tool {
	background: url(../images/underline.png) no-repeat;
}

.gd-embed-annotation-tools .gd-underline-tool.active {
	background: url(../images/underline_active.png) no-repeat;
}

.gd-embed-annotation-tools .gd-ruler-tool {
	background: url(../images/distance.png) no-repeat;
}

.gd-embed-annotation-tools .gd-ruler-tool.active {
	background: url(../images/distance_active.png) no-repeat;
}

/*
******************************************
ANNOTATIONS COMMENTS BAR
******************************************
*/
.gd-annotations-comments-toggle {
	display: none;
	position: fixed;
	top: 52%;
	right: 282px;
	height: 53px;
	font-size: 25px;
	z-index: 2;
}

.gd-lbl-comments-toggle{
	position: fixed;
    top: 52%;
	right: 12px;
    color: #959da5;
	z-index: 2;
	cursor: pointer;
}
.gd-lbl-comments-toggle::before {
    content: ' ';
    display: block;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 5px solid currentColor;
}
.gd-comments-sidebar-expanded {
	width: 33px;
	overflow: hidden;
	transition: width .25s ease-in-out;
	position: fixed;
	right: 0;
	top: 50px;
	left: auto;
	background-color: #3e4e5a;
	height: 95%;		
	overflow-y: auto;
	z-index: 1;
}

.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle {
  transform: rotate(180deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle + .gd-comments-sidebar-expanded{
  width: 300px;
}

.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle {
  right: 286px;
  transition: right .25s ease-in-out;
}

.gd-annotations-comments-wrapper.active {
	width: 310px;
	display: block;
    z-index: 99999;
}

.gd-comments-content{
	display: none;
}
	
.gd-annotations-comments-toggle:checked + .gd-lbl-comments-toggle + .gd-comments-sidebar-expanded > .gd-comments-content{
  display: block;
}

.gd-annotation-comment {
    margin-bottom: 32px;
    display: block;
    position: relative;
}

.gd-com-heading{
    font-size:15px !important;
	color: #959da5;
	margin: 12px 0px 0px 10px;
}
.gd-comment-time{
	position: absolute;
	top: 13px;
    left: 31px;
    color: #959da5;
    font-size: 14px !important;
}
.gd-comment-text-wrapper{
    position:relative;
    display:inline-block;
	margin-top: 17px;
}

.gd-comment-text{
	background: #fff;
    padding: 20px 8px 10px;
    width: 244px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: -11px 0 0 10px;
    position: relative;
    color: #333;
    font-size: 14px;
}

.gd-comment-user-name{
	margin: 11px 0 0 10px;
    width: 244px;
}

.gd-comment-box-sidebar{
    position:relative;
    padding:20px 0 0 18px;
    margin: 2px 0 25px;
}

.gd-comment-avatar{
    position: relative;
	top: 0px;
    left: 8px;
    font-size: 26px;
    color: #959da5;
}

.gd-save-button {
	border-radius: 0px;   
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 31px;
	position: relative;
    top: -25px;
    left: 11px;
    background-color: #30abd4;
    font-size: 18px;
    color: #fff;   
    padding: 5px 0px;
}

.gd-comment-cancel {
	margin: 0px 0px 0px 37px;
    background-color: #ff000096;
}

.gd-delete-comment{
	color: #959da5;
    position: absolute;
	top: 4px;
    right: 30px;
    font-size: 26px;
	cursor: pointer;
}

#gd-save-comments {
	width: 246px;
    margin-left: 11px;
	margin-top: 34px;
}

.gd-save-button-disabled {
	cursor: not-allowed;
}

/*
******************************************
ANNOTATIONS ADDED TO THE DOCUMENT
******************************************
*/

.gd-annotation {
	position: absolute;
	cursor: pointer;
	z-index: 2;
}

.ui-resizable-handle {
    background-color: rgba(0,0,0,.75);
    width: 8px;
    height: 8px;	
}

.gd-text-annotation, .gd-textReplacement-annotation {
    background-color: #28f;
    opacity: .3;
    filter: alpha(opacity=20);   
}

.gd-textRedaction-annotation {
    background-color: #28f;    
    padding: 0 6px 6px 0;  
}

.gd-area-annotation, .gd-resourcesRedaction-annotation {  
	border-width: 5px;
	border-color: #30abd4;
	border-style: double;
}
.gd-resourcesRedaction-annotation {  	
	background-color: blue;
}

.gd-textStrikeout-line, .gd-textUnderline-line {   
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: red;   
	position: absolute;
}

.gd-textUnderline-line {
	top: 100%;	
	background-color: #78e45c;
}

.gd-text-area-toolbar {      
    border: 1px solid #8b8b8b;   
    border-radius: 0;
    width: 144px;
    height: 32px;
    background-color: #e0e0e0;
    visibility: hidden;
    margin-bottom: 5px;
    padding: 5px 0 0 0;
}

.gd-text-area-toolbar input {
    margin-right: 5px;
	font-size: 12px;
}

.gd-text-area-toolbar input:first-of-type {
	width: 77px;   
    font-size: 12px;
}

.gd-typewriter-font-size {
	width: 32px;     
}

.gd-text-field-delete {
    top: 1px;
    color: #3e4e5a;  
    font-size: 17px;  
    position: relative;
}

.gd-typewriter-text {
	top: -14px;   
    display: block;
    font-family: Arial;
    font-size: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);    
    border: 1px solid;
	width: 239px;
    height: 50px;
	text-align: left;
	overflow: hidden;
}

.gd-annotation:hover > .gd-text-area-toolbar {
	visibility: visible;
}

.gd-replace-tab {   
    background: #e9865b;
    font: 700 15px/30px 'PT Sans',sans-serif;
    height: 30px;
    width: 80px;
    color: #fff;   
}

.gd-replace-text-area-text {
    margin: 0;
    padding: 3px 5px;
    border: 1px dotted #000;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.6);
	width: 209px;
    height: 34px;
    display: block;
}

.gd-replace-text-area {
    margin-top: 6px;    
}

.gd-distance-text {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
	text-anchor: middle; 
	font: 10px Arial; 
	stroke-opacity: 1;
}

svg {	
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;	
}